<%- include('./partials/navbar.ejs') %>

    <div class="bg-gray-900 text-gray-200 p-4">

        <div class="p-4 text-3xl text-amber-500 font-semibold"> My Channel </div>
        <div class="p-4 flex ">
            <% if (locals.channelDetails) { %>
                <div class="p-8 flex flex-wrap gap-8 bg-gray-950 rounded-lg">
                    <div class="flex flex-col justify-center items-center gap-2 ">
                        <div
                            class="px-4 py-2 bg-gradient-to-r from-lime-600 to-amber-600 text-gray-950 text-lg text-center font-bold rounded-lg w-full">
                            <%= channelDetails.channelName %>
                        </div>
                        <div> Name </div>
                    </div>
                    <div class="flex flex-col justify-center items-center gap-2 ">
                        <div
                            class="px-4 py-2 bg-gradient-to-r from-lime-600 to-amber-600 text-gray-950 text-lg text-center font-bold rounded-lg w-full">
                            <%= channelDetails.subscribers.length %>
                        </div>
                        <div> Subscribers</div>
                    </div>
                    <div class="flex flex-col justify-center items-center gap-2 ">
                        <div
                            class="px-4 py-2 bg-gradient-to-r from-lime-600 to-amber-600 text-gray-950 text-lg text-center font-bold rounded-lg w-full">
                            <%= channelDetails.subscriptions.length %>
                        </div>
                        <div> Subscriptions</div>
                    </div>
                    <div class="flex flex-col justify-center items-center gap-2 ">
                        <% const options={ day: '2-digit' , month: 'long' , year: 'numeric' }; const
                            formattedDate=channelDetails.addedAt.toLocaleDateString(undefined, options); %>
                            <div
                                class="px-4 py-2 bg-gradient-to-r from-lime-600 to-amber-600 text-gray-950 text-lg text-center font-bold rounded-lg w-full">
                                <%= formattedDate %>
                            </div>
                            <div> Added At </div>
                    </div>
                </div>

                <% } %>
        </div>


        <!-- <div class="p-4 text-3xl text-amber-500 font-semibold"> My Subscriptions </div>
        <div class="p-4">

        </div> -->

        <div class="p-4 text-3xl text-amber-500 font-semibold"> Subscribe More Channels </div>
        <div class="p-4 ">
            <% if (locals.channelsToSubscribe) { %>
                <div class="flex flex-wrap gap-8 ">
                    <% channelsToSubscribe.forEach(element=> { %>
                        <div
                            class="py-4 px-6 flex flex-col gap-4 bg-gray-950 hover:bg-black rounded-lg">
                            <div
                                class="px-4 py-2 bg-gradient-to-r from-lime-600 to-amber-600 text-gray-950 text-lg text-center font-semibold rounded-lg w-full">
                                <%= element.channelName %>
                            </div>
                            <button type="text" onclick="subscribeToChannel('<%= channelDetails._id %>','<%= element._id %>')"
                                class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Subscribe</button>
                        </div>
                        <% }) %>
                </div>
                <% } %>
        </div>


    </div>

    <script>
        async function subscribeToChannel(channelId, targetChannelId) {
            try {
                const response = await fetch(`/yt/${channelId}/subscribe`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ targetChannelId })
                });

                if (response.ok) {
                    window.location.reload();
                    // alert("Subscribed successfully");
                    // Optionally, you can perform additional actions here
                } else {
                    const errorMessage = await response.text();
                    throw new Error(errorMessage);
                }
            } catch (error) {
                console.error("Error subscribing:", error);
                alert("Failed to subscribe");
                // Optionally, you can handle the error and display an error message to the user
            }
        }
    </script>

    <%- include('./partials/footer.ejs') %>