<%- include('./partials/navbar.ejs') %>

    <div class="bg-gray-900 text-gray-200 p-4 flex flex-col gap-6">
        <h1 class="p-4 text-3xl font-semibold text-amber-500">Hi, Explore the variety of channels </h1>
        <% if (locals.allChannels) { %>
            <div class="flex flex-wrap gap-10  p-4">
                <% allChannels.forEach(element=> { %>
                    <div onclick="redirectToChannel('<%= element._id %>')"
                        class="flex flex-col gap-3 bg-gray-950 hover:bg-black border border-cyan-600 hover:border-cyan-400 cursor-pointer rounded-lg py-4 px-8">
                        <div
                            class="px-4 py-2 bg-gradient-to-r from-lime-600 to-amber-600 text-gray-950 text-lg text-center font-bold rounded-lg w-full">
                            <%= element.channelName %>
                        </div>
                        <div class="flex flex-col gap-2 px-1">
                            <div> Subscribers : <%= element.subscribers.length %>
                            </div>
                            <div> Subscriptions : <%= element.subscriptions.length %>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <% } %>
    </div>

    <script>
        function redirectToChannel(id) {
            // Construct the dynamic route using the id
            const route = `/channel/${id}`;

            // Navigate to the constructed route
            window.location.href = route;
        }
    </script>



    <%- include('./partials/footer.ejs') %>